services:

  redis1226:
    image: redis:7
    restart: always
    volumes:
      - redis_data:/data

  backend:
    build: ./back
    restart: always
    env_file: main.env
    depends_on:
      - redis1226

  bot:
    build: ./back
    command: python main.py
    restart: always
    env_file: main.env
    depends_on:
      - redis1226
      - backend

  frontend:
    build: ./front
    restart: always

  nginx:
    image: nginx:1.25
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
      - backend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt
    entrypoint: >
      sh -c "certbot certonly --webroot
      -w /var/www/certbot
      -d bsbot.org
      --email ivanvol9l@gmail.com
      --agree-tos
      --non-interactive"

volumes:
  redis_data:



#services:
#  backend:
#    build: ./back
#    container_name: bs_backend
#    restart: always
#    ports:
#      - "8000:8000"
#    env_file:
#      - main.env
#    depends_on:
#      - redis1226
#  bot:
#    build: ./back
#    container_name: bs_bot
#    restart: always
#    env_file:
#      - main.env
#    command: python main.py
#    depends_on:
#      - redis1226
#      - backend
#
#  frontend:
#    build: ./front
#    container_name: bs_frontend
#    restart: always
#    ports:
#      - "5173:5173"
#    command: npm run dev -- --host
#    depends_on:
#      - backend
#
#  redis1226:
#    image: redis:7
#    container_name: bs_redis
#    restart: always
#    volumes:
#      - redis_data:/data
#
#volumes:
#  redis_data: