services:
  redis1226:
    image: redis:7
    restart: always
    networks:
      - internal

  backend:
    build: ./back
    restart: always
    env_file: main.env
    networks:
      - internal
      - proxy_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`bsbot.org`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.routers.backend.tls.certresolver=myresolver"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"

  frontend:
    build: ./front
    restart: always
    networks:
      - proxy_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`bsbot.org`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=myresolver"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"

  bot:
    build: ./back
    command: python main.py
    restart: always
    env_file: main.env
    networks:
      - internal
    depends_on:
      - redis1226

networks:
  internal:
  proxy_network:
    external: true




